@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@font-face {
  font-family: "pricedown";
  src: url("../public/pricedown.otf");
}
html,body{
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}